body {
	font-family: 'Comfortaa', cursive;
  background: #fff;
}

#mcuPlot {
  margin: 0 auto;
}

#mruPlot {
  margin: 0 auto;
}

#mruvPlot {
  margin: 0 auto;
}

h1 {
	margin: 1%;
	padding: 1%;
	display: block;
	text-align: center;
	color: #545454;
}

#buttons {
	padding-top: 40px;
	width: 202px;
	display: block;
	margin: 0 auto;
}

.button {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 16px 9px;
  margin: 0 auto;
  transition: all 20ms ease-out;
  vertical-align: top;
  text-decoration: none;
}
.button:hover, .button:focus {
  background: #f2f2f2;
  border-color: #8c8c8c;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}
.button:active {
  background: #f2f2f2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button .fa {
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #42b0e3;
  background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
  border: 1px solid #107db0;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button-blue:hover, .button-blue:focus {
  background: #2ba9e3;
  border-color: #004c6f;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
}
.button-blue:active {
  background: #2ba9e3;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.button-blue .fa {
  color: #107db0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#iframe {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px: 
  padding: 20px;
}

iframe {
  border: none;
  width: 100%;
}

input {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 9px 10px 9px;
  margin: 2px;
  font-family: inherit;
  transition: all 20ms ease-out;
}

input:hover {
  border: 1px solid #333;
}

input:focus {
  background: #eee;
}